.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  padding: 0;
}
