@import '~bootstrap/scss/bootstrap';

#root {
  background: rgb(6,97,60);
  background-image: url('./icons/notes.jpg');
  height: 100%;
  background-size: 500px;
  background-position: center;
  background-repeat: repeat;
}

.myaccordion {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.app-name {
  color: white;
  outline-color: coral;
  font-size: 20px;
  display: inline-flex;
  margin-left: 5px;
  text-shadow: 1px 1px green;
}

.small-text {
  font-size: x-small;
}

.space-between {
  justify-content: space-between;
}

section {
  padding: 8rem 2rem 8rem 2rem;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.logo-img {
  width: 6%;
  height: 6%;
}
