@import '~bootstrap/scss/bootstrap';

#root {
  background: rgb(6,97,60);
  background-image: url('./icons/notes.jpg');
  height: 100%;
  background-size: 500px;
  background-position: center;
  background-repeat: repeat;
}

.myaccordion {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.app-name {
  color: #90EE90;
  font-size: 30px;
  display: inline-flex;
  margin-left: 15px;
  text-shadow: 1px 1px #90EE90;
}

.small-text {
  font-size: x-small;
}

section {
  padding: 8rem 2rem 8rem 2rem;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
